.pool-body-NoLiquidity {
    border-radius: 0px;
}

.pool-body-connect {
    width: 384px;
    height: 48px;
    background: linear-gradient(73.6deg, #85FFC4 2.11%, #5CC6FF 42.39%, #BC85FF 85.72%);
    border-radius: 100px;
    color: white;
}

.pool-body-connect:active {
    box-shadow: none;
}

.pool-body-connect:focus {
    box-shadow: none;
}



.LiquidityList {
    width: 100%;
    min-height: 588px;
}

.single-liquidity-lend {
    width: 100%;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 30px;

}

.single-liquidity-header-lend {
    display: flex;
    justify-content: space-between;
    height: 40px;

}

.single-liquidity-header-lend p {
 
    font-size: 20px;
    font-weight: 500;
 
    color: white;
    margin:0px;
}

.single-liquidity-content {
    transition: 0.5s;
}

.single-liquidity-header-left {
    display: flex;
    align-items: center;
}

.single-liquidity-header-right {
    display: flex;
    align-items: center;
}

.single-token-left {
    font-size: 16px;
    font-weight: 400;
    color: #A6A0BB;
    margin-top: 10px;
    margin-bottom: 10px;
}

.single-token-right {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.description {
    display: flex;
    justify-content: center;
}
.withdraw-description{
    display: flex;
    justify-content: center;
}
.withdraw-available{
    display: flex;
    justify-content: center;
}
.withdraw-description p{
    
    font-weight: 700;
    font-size: 34px;
    margin:26px 0px 0px 4px;
    color:white;
    
}
.withdraw-available p{
    font-weight: 400;
    font-size: 16px;
    margin:0;
    margin-bottom:16px;
    color:#A6A0BB;
}

.description p {
    background: linear-gradient(73.6deg, #85FFC4 2.11%, #5CC6FF 42.39%, #BC85FF 85.72%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 10px;
    margin-bottom: 10px;
}


.go-back-arrow{

    width: 40px;
    height: 30px;
    float: left;
    margin-top: 14px;
    margin-left: 22px;
    margin-right: 144px;
    cursor: pointer;
}



.help-button{
 
    width: 40px;
    height: 32px;
    float: left;
    margin-top: 14px;
    margin-left: 140px;
    margin-right: 22px;
    background-size: cover;
}
.font-bold{
	background: linear-gradient(73.6deg, #85FFC4 2.11%, #5CC6FF 42.39%, #BC85FF 85.72%);
  
    -webkit-background-clip: text;

    font-weight: 700;
    font-size: 16px;

}
.lend-confirm-text{
	color: white;
    font-size: 24px;
    font-weight: 600;
}
.lend-confirm-withdraw-warrap {
    width: 100%;
    height: 334px;
    background: linear-gradient(73.6deg, #85FFC4 2.11%, #5CC6FF 42.39%, #BC85FF 85.72%);
    padding: 1px;
    margin-bottom:20px;
}

.lend-confirm-withdraw {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:332px;
    background: #131118;
}
.lend-confirm-claim-warrap {
    width: 100%;
    height: 378px;
    background: linear-gradient(73.6deg, #85FFC4 2.11%, #5CC6FF 42.39%, #BC85FF 85.72%);
    padding: 1px;
    margin-bottom:20px;
}

.lend-confirm-claim {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:376px;
    background: #131118;
}